
<%- contentFor('hero') %>
<div class="jumbotron text-center">
	<h2>GitHub Followers Bot</h2>
	<p>by Supanat Piphitpattanaprapt</p>
	<a class="my-email" href="mailto:oaksupanat@gmail.com">oaksupanat@gmail.com</a>
</div>


<%- contentFor('body') %>
<div class="row">
	<div class="col-sm-6 col-sm-offset-3">
		<h3 class="instruction">Fill in the name who you would like to see his followers</h3>
		<form action="/github-followers/search" method="GET" class="form-inline">
			<div class="form-group">
				<label>Name</label>
				<input type="text" name="name" class="form-control">
			</div>
			<button type="submit" class="btn btn-primary btn-md">Find Followers</button>
			<!-- <div class="form-group text-right">
				<button type="submit" class="btn btn-primary btn-lg">Send it</button>
			</div> -->
		</form>

		<div class="panel panel-default">
			<div class="panel-heading">Followers of <%- username %></div>
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>#</th>
						<th>avatar</th>
						<th>login</th>
						<th>url</th>
					</tr>
				</thead>
				<tbody>
					<% for (user of users) { %>
						<tr>
							<th><%= users.indexOf(user) + 1 %></th>
							<td><img src="<%= user.avatar_url %>" class="img-thumbnail"></td>
							<td><%= user.login %></td>
							<td><%= user.html_url %></td>
						</tr>
					<% } %>
					
				</tbody>
			</table>
		</div>
	</div>
</div>

